## 데이터 프레임 생성

In [8]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.DataFrame({'a' : [1, 2, 3], 'b' : [4, 5, 6], 'c' : [7, 8, 9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [3]:
type(df)

pandas.core.frame.DataFrame

In [7]:
a=[[1, 4, 7], [2, 5, 8], [3, 6, 9]]
a_columns = ['a', 'b', 'c']
df_2=pd.DataFrame(data=a, columns=a_columns)
df_2

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [9]:
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [10]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [11]:
df.values

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]], dtype=int64)

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.columns = ['d', 'e', 'f']
df

   d  e  f
0  1  4  7
1  2  5  8
2  3  6  9

In [17]:
df.rename(columns={'d' : '디', 'f' : '에프'}, inplace=True)  
df

   디  e  에프
0  1  4   7
1  2  5   8
2  3  6   9

In [18]:
df=pd.DataFrame({'a' : [1, 2, 3], 'b' : [4, 5, 6], 'c' : [7, 8, 9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [19]:
# 깊은 복사 
import copy

In [20]:
df2 = copy.deepcopy(df)
df2

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [21]:
df.columns = ['d', 'e', 'f']
df

   d  e  f
0  1  4  7
1  2  5  8
2  3  6  9

In [22]:
df2

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [23]:
# 시리즈
df=pd.DataFrame({'a' : [1, 2, 3], 'b' : [4, 5, 6], 'c' : [7, 8, 9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [24]:
df['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [25]:
a = pd.Series([1, 2, 3, 1, 2, 3], index = ['a', 'b', 'c', 'd', 'e', 'f'])  
a

a    1
b    2
c    3
d    1
e    2
f    3
dtype: int64

In [26]:
a['e']

2

In [27]:
a.unique()

array([1, 2, 3], dtype=int64)

In [28]:
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [29]:
df[['a', 'b']]

   a  b
0  1  4
1  2  5
2  3  6

In [31]:
# lod과 iloc을 이용한 원하는 위치의 데이터 추출
df = pd.DataFrame({'a' : [i for i in range(1, 11)]
                , 'b' : [i for i in range(11, 21)]
                , 'c' : [i for i in range(21, 31)]})
df

    a   b   c
0   1  11  21
1   2  12  22
2   3  13  23
3   4  14  24
4   5  15  25
5   6  16  26
6   7  17  27
7   8  18  28
8   9  19  29
9  10  20  30

In [37]:
df[['a', 'b']]

    a   b
0   1  11
1   2  12
2   3  13
3   4  14
4   5  15
5   6  16
6   7  17
7   8  18
8   9  19
9  10  20

In [38]:
df.loc[0]

a     1
b    11
c    21
Name: 0, dtype: int64

In [39]:
df.loc[2 : 4]

   a   b   c
2  3  13  23
3  4  14  24
4  5  15  25

In [41]:
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame({'a' : [i for i in range(1, 11)]
                , 'b' : [i for i in range(11, 21)]
                , 'c' : [i for i in range(21, 31)]}, index = index)
df

    a   b   c
a   1  11  21
b   2  12  22
c   3  13  23
d   4  14  24
e   5  15  25
f   6  16  26
g   7  17  27
h   8  18  28
i   9  19  29
j  10  20  30

In [42]:
df.iloc[ : 5, : ]

   a   b   c
a  1  11  21
b  2  12  22
c  3  13  23
d  4  14  24
e  5  15  25