## 데이터 프레임 생성

In [8]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.DataFrame({'a' : [1, 2, 3], 'b' : [4, 5, 6], 'c' : [7, 8, 9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [3]:
type(df)

pandas.core.frame.DataFrame

In [7]:
a=[[1, 4, 7], [2, 5, 8], [3, 6, 9]]
a_columns = ['a', 'b', 'c']
df_2=pd.DataFrame(data=a, columns=a_columns)
df_2

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [9]:
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [10]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [11]:
df.values

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]], dtype=int64)

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.columns = ['d', 'e', 'f']
df

   d  e  f
0  1  4  7
1  2  5  8
2  3  6  9

In [17]:
df.rename(columns={'d' : '디', 'f' : '에프'}, inplace=True)  
df

   디  e  에프
0  1  4   7
1  2  5   8
2  3  6   9

In [18]:
df=pd.DataFrame({'a' : [1, 2, 3], 'b' : [4, 5, 6], 'c' : [7, 8, 9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [19]:
# 깊은 복사 
import copy

In [20]:
df2 = copy.deepcopy(df)
df2

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [21]:
df.columns = ['d', 'e', 'f']
df

   d  e  f
0  1  4  7
1  2  5  8
2  3  6  9

In [22]:
df2

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [23]:
# 시리즈
df=pd.DataFrame({'a' : [1, 2, 3], 'b' : [4, 5, 6], 'c' : [7, 8, 9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [24]:
df['a']

0    1
1    2
2    3
Name: a, dtype: int64