In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.io as pio  
import plotly.express as px  
import plotly.graph_objects as go  
import plotly.figure_factory as ff  
from plotly.subplots import make_subplots  
from plotly.validators.scatter.marker import SymbolValidator

1. 해당 데이터를 보고 어떤 인사이트를 이끌어내고 싶은지? (분석의 목표)
2. 데이터에 대한 여러가지 특성을 어떻게 파악하는지? (분석 방법론)
3. 지금까지 배운 오픈소스 라이버르리들을 사용하여 EDA를 어떻게 수행하는지? (분석을 위한 프로그래밍)

In [4]:
event_df = pd.read_csv('../../29CM_PJT_data/sampled_events.csv')
products_df = pd.read_csv('../../29CM_PJT_data/sampled_products.csv')
users_df = pd.read_csv('../../29CM_PJT_data/sampled_users.csv')

In [17]:
event_df = event_df.drop(columns = 'session_id', axis = 1)

In [18]:
event_df

,event_timestamp,event_name,user_no,item_no,device_type,mobile_brand_name,mobile_model_name,mobile_marketing_name,operating_system_version,country,region,platform
0,2021-06-03 13:00:01.845,click_item,+9eODQMZ8YgXQZJJAo56nw==,4KwsZkXDulM0oQ2sTVSlYQ==,mobile,Samsung,SM-N960N,Galaxy Note9,Android 10,South Korea,Gyeonggi-do,ANDROID
1,2021-06-03 13:00:01.920001,add_to_cart,qik2Oa/1SQAjHeR64GLY0g==,+3vED/NUxtVk4Dvc0QUahA==,mobile,Samsung,SM-G977N,Galaxy S10 5G,Android 11,South Korea,Seoul,ANDROID
2,2021-06-03 13:00:02.35,click_item,FJJ6W70VNARaqflivNavLg==,xuuGT7/l+fld/geUzu6BkA==,mobile,Apple,iPhone,NaN,iOS 14.4.2,South Korea,Seoul,IOS
3,2021-06-03 13:00:02.994,click_item,MsFi+mS5EhwSv+ZqTtZ53w==,FC0aiDVh1JjIXUschc44Pg==,mobile,Apple,iPhone,NaN,iOS 14.4.2,South Korea,Gyeongsangbuk-do,IOS
4,2021-06-03 13:00:03.312001,add_to_cart,frWHEf/czsCEjklEIwxxKA==,yXpbzgtgRe37PEbJlBiKmQ==,mobile,Samsung,SM-G970N,Galaxy S10e,Android 11,South Korea,Seoul,ANDROID
...,...,...,...,...,...,...,...,...,...,...,...,...
5880402,2021-08-04 12:59:53.129054,click_item,ROKDMwVDKbb9N82CptJ9dg==,xKvqk3vRvFLpCTQTqpL4ew==,mobile,Apple,iPhone,NaN,iOS 14.6,South Korea,Gyeongsangnam-do,IOS
5880403,2021-08-04 12:59:56.151,click_item,0nfvwBd9Qriig0lIgvtiBA==,1qWgJ5SJvbi5+mBYGH848A==,mobile,Apple,iPhone,NaN,iOS 14.6,South Korea,Gyeongsangnam-do,IOS
5880404,2021-08-04 12:59:56.952028,click_item,Z0a8cvN+t0V2WInGzjkM5Q==,M9ucsQ4dNX/t1Bopo599BA==,mobile,Apple,iPhone,NaN,iOS 14.6,South Korea,Gyeonggi-do,IOS
5880405,2021-08-04 12:59:58.019142,click_item,vQeO3FiA+W7bmyu2tdKuGg==,W/LoA3I9ym6wowhAdCsUvA==,mobile,Samsung,SM-G977N,Galaxy S10 5G,Android 11,South Korea,Busan,ANDROID
5880406,2021-08-04 12:59:59.284045,click_item,GMv4Y+rk7KkfcR5qlFVrBQ==,1SsPsB/HdsUHnyNqKcEvuw==,mobile,Apple,iPhone,NaN,iOS 14.6,South Korea,Gyeonggi-do,IOS

In [55]:
event_df['event_datatime'] = pd.to_datetime(event_df['event_datatime'], format = '%Y-%m-%d')

In [58]:
event_df = event_df.drop(columns = 'event_timestamp', axis = 1)

In [65]:
event_df = event_df[['event_datatime', 'event_name', 'user_no', 'item_no', 'device_type', 'mobile_brand_name',
       'mobile_model_name', 'mobile_marketing_name',
       'operating_system_version', 'country', 'region', 'platform']]

In [68]:
products_df[products_df.item_no == event_df.item_no[0]]

,item_no,item_name,image_name,price,category1_code,category1_name,category2_code,category2_name,category3_code,category3_name,brand_no,brand_name
179978,4KwsZkXDulM0oQ2sTVSlYQ==,남성) 코튼 리넨 이지 쇼츠,ecb06f34b6d8c4c521221aebbcc0e934,29900.0,243100100,의류,243104100,하의,243104101,바지,13901.0,TOPTEN

In [78]:
products_df = products_df.drop(columns = 'brand_no', axis = 1)

In [89]:
event_df['item_name']  = 0
event_df['price']  = 0
event_df['category1_name']  = 0
event_df['category2_name']  = 0
event_df['category3_name']  = 0
event_df['brand_name']  = 0

In [98]:
event_df = event_df.drop(columns = 'brand_name', axis = 1)

In [104]:
event_df = event_df.drop(columns = 'item_no', axis = 1)

In [108]:
users_df['age'] = 0

In [109]:
2022 - 1994 + 1

29

In [127]:
users_df

                         user_no  birth_date gender  age
0       ++MXKfwkOw4VFn9HkVCRrw==  1994-08-25      F    0
1       ++QhQ1e1epIwx3vRl2Jo3g==  1994-08-20      F    0
2       ++gfxvExR4bVIl3/hWsX7Q==  1990-11-14      F    0
3       ++hK92KjjWxhaH5fVgRFww==  1997-03-30      F    0
4       ++izmuIS/QEffdUxvt0y4Q==  1992-09-07      F    0
...                          ...         ...    ...  ...
254953  zzJh2DNSlyzZYCx1T7Yprw==  1984-02-01      F    0
254954  zzQb08qbNg8VZ+c3wMVhuw==  1972-12-15      F    0
254955  zzblhcY6j0rWP7m/5w6kqg==  2002-02-26      F    0
254956  zzzTNW8escss3zrnpuGMhQ==  1991-10-27      M    0
254957  zzzWx+6Z3L2IRJBTgvBs5g==  1994-10-11      M    0

[254958 rows x 4 columns]

In [130]:
s = users_df.birth_date.str.extract('([0-9]+)')

In [155]:
s[0] = pd.to_numeric(s[0], errors = 'coerce')

In [156]:
s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254958 entries, 0 to 254957
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       254958 non-null  int64
dtypes: int64(1)
memory usage: 1.9 MB

In [158]:
int(s[0].mean())

1894

In [159]:
for idx, val in s.iterrows():
    if val[0] != 0:
        users_df['age'][idx] = 2023 - int(val[0])
    else:
        users_df['age'][idx] = int(val[0].mean())

In [162]:
users_df = users_df[['user_no', 'age', 'gender', 'birth_date']]

In [163]:
users_df

                         user_no  age gender  birth_date
0       ++MXKfwkOw4VFn9HkVCRrw==   29      F  1994-08-25
1       ++QhQ1e1epIwx3vRl2Jo3g==   29      F  1994-08-20
2       ++gfxvExR4bVIl3/hWsX7Q==   33      F  1990-11-14
3       ++hK92KjjWxhaH5fVgRFww==   26      F  1997-03-30
4       ++izmuIS/QEffdUxvt0y4Q==   31      F  1992-09-07
...                          ...  ...    ...         ...
254953  zzJh2DNSlyzZYCx1T7Yprw==   39      F  1984-02-01
254954  zzQb08qbNg8VZ+c3wMVhuw==   51      F  1972-12-15
254955  zzblhcY6j0rWP7m/5w6kqg==   21      F  2002-02-26
254956  zzzTNW8escss3zrnpuGMhQ==   32      M  1991-10-27
254957  zzzWx+6Z3L2IRJBTgvBs5g==   29      M  1994-10-11

[254958 rows x 4 columns]

In [166]:
event_df = pd.merge(event_df, users_df, how = 'left', on = 'user_no')

In [169]:
event_df = event_df.drop(columns = 'user_no', axis = 1)

In [177]:
event_df.to_csv('_29cm.csv')

In [178]:
df = pd.read_csv('./_29cm.csv', )
df

,Unnamed: 0,event_datatime,event_name,device_type,mobile_brand_name,mobile_model_name,mobile_marketing_name,operating_system_version,country,region,platform,item_name,price,category1_name,category2_name,category3_name,brand_name,age,gender,birth_date
0,0,2021-06-03,click_item,mobile,Samsung,SM-N960N,Galaxy Note9,Android 10,South Korea,Gyeonggi-do,ANDROID,남성) 코튼 리넨 이지 쇼츠,29900.0,의류,하의,바지,TOPTEN,54,F,1969-04-05
1,1,2021-06-03,add_to_cart,mobile,Samsung,SM-G977N,Galaxy S10 5G,Android 11,South Korea,Seoul,ANDROID,Puppy's delight short sleeve T-shirts white,38000.0,의류,상의,티셔츠,Wave union,34,F,1989-02-22
2,2,2021-06-03,click_item,mobile,Apple,iPhone,NaN,iOS 14.4.2,South Korea,Seoul,IOS,몽돌 니트 MD 소프트 숏 슬리브 크루 넥 반팔 니트 화이트 MDTS002WHITE,42000.0,의류,상의,니트/스웨터,MONGDOL,39,F,1984-08-22
3,3,2021-06-03,click_item,mobile,Apple,iPhone,NaN,iOS 14.4.2,South Korea,Gyeongsangbuk-do,IOS,dapper bag (choco brown),169000.0,잡화,가방,숄더백,yeomim,51,F,1972-09-07
4,4,2021-06-03,add_to_cart,mobile,Samsung,SM-G970N,Galaxy S10e,Android 11,South Korea,Seoul,ANDROID,[예약판매][락피쉬웨더웨어] 파스텔 첼시 레인부츠 - 3color,59000.0,잡화,신발,레인부츠/스노우부츠,Rockfish Weatherwear,38,NaN,1985-04-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5880402,5880402,2021-08-04,click_item,mobile,Apple,iPhone,NaN,iOS 14.6,South Korea,Gyeongsangnam-do,IOS,Moody Dusk PJ Pants,63000.0,의류,라운지웨어,파자마,Foli,24,F,1999-07-12
5880403,5880403,2021-08-04,click_item,mobile,Apple,iPhone,NaN,iOS 14.6,South Korea,Gyeongsangnam-do,IOS,[GUAV] Marine Long Sleeve T-shirts,79000.0,의류,상의,티셔츠,GUAV,25,F,1998-04-04
5880404,5880404,2021-08-04,click_item,mobile,Apple,iPhone,NaN,iOS 14.6,South Korea,Gyeonggi-do,IOS,BALANSA LOGO CAP (AQUA),59000.0,잡화,모자,볼캡,BALANSA (매입),32,F,1991-12-03
5880405,5880405,2021-08-04,click_item,mobile,Samsung,SM-G977N,Galaxy S10 5G,Android 11,South Korea,Busan,ANDROID,Fleece jacket (brown),279000.0,의류,아우터,재킷,ANDNEEDS,45,F,1978-12-21
5880406,5880406,2021-08-04,click_item,mobile,Apple,iPhone,NaN,iOS 14.6,South Korea,Gyeonggi-do,IOS,스트레이트 블랙 스판진 [BLACK],72000.0,의류,하의,바지,STEP AROUND,43,F,1980-02-03